extends layout

block content
  h2 Welcome #{user.nickname}!
  br
  a(href='/logout') Logout
  digital-clock
  .window(style='width: 550px; min-width: 400px; height: 450px; min-height: 200px;', onclick="$('#player_input').focus()")
    .window_inner
      .window_heading VentureRealm
      .window_actions
        .input_bracket &gt;
        |  
        input#player_input.input_area(type='text')
      .window_content
        .window_content_inner
          textarea#game_output.window_content_inner_text(cols='50', readonly='')
  script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
  script(src='https://cdn.auth0.com/js/lock/10.14/lock.min.js')
  script(src='scripts/pathfinding-browser.min.js')
  script(src='scripts/tsc.js')
  script.
    $(function() {
    $(".window").draggable({
    cursor: "move",
    handle: ".window_heading"
    });
    $(".window").resizable();
    $(".window").position({
    my: "center",
    at: "center",
    of: "body"
    });
    });
    $( document ).ready(function() {
    init();
    });
