doctype html
html
  head
    title VentureRealm
    meta(name='viewport', content='width=device-width, initial-scale=0.6, maximum-scale=0.6')
    script(src="https://cdn.auth0.com/js/lock/10.11/lock.min.js")
    link(rel='stylesheet', href='styles/main.css')
  body()
    block content
