@font-face {
    font-family: 'freemonoregular';
    src: url('../fonts/freemono-webfont.woff2') format('woff2'), url('../fonts/freemono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    color: #fff;
    background: #008080;
}

textarea,
input,
input[type="text"] {
    font-family: 'freemonoregular', monospace;
    font-size: 12px;
	font-weight: bold;
    line-height: 12px;
    outline: none;
    border: none;
	background-color: #000;
	color: #fff;
}

.window {
    width: 500px;
	font-family: 'Arial',sans-serif;
	font-weight: bold;
    background: #c0c0c0;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
}

.window_inner {
    border: 1px solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.window_heading {
    margin: 2px;
    padding: 2px 5px;
    color: #fff;
    background: linear-gradient(to right, #000080, #1084d0);
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.window_content {
    margin: 0 2px 2px 2px;
    border: 1px solid;
    border-top-color: #808080;
    border-left-color: #808080;
    border-bottom-color: #fff;
    border-right-color: #fff;
    font-size: 13px;
}

.window_content_inner {
    font-family: 'freemonoregular', monospace;
    background: #000;
    border: 1px solid;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #dfdfdf;
    border-right-color: #dfdfdf;
    padding: 10px;
}

#game_output {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#input_bracket {
    position: relative;
    left: 0;
    bottom: 0;
    width: 30px;
	height: 25px;
    font-size: 12px;
	font-weight: bold;
    text-align: center;
}

#player_input {
    position: relative;
    left: 30px;
    bottom: 45px;
    width: calc(100%-30px);
    height: 25px;
}
