@font-face {
    font-family: 'freemonoregular';
    src: url('../fonts/freemono-webfont.woff2') format('woff2'), url('../fonts/freemono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    color: #000000;
    background: #008080;
    font-family: 'freemonoregular', monospace;
}

textarea,
input[type="text"] {
    font-family: 'freemonoregular', monospace;
    font-size: 12px;
    line-height: 12px;
}

textarea,
input {
    outline: none;
    background-color: #fff1e8;
    border: none;
}

#terminal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 550px;
    margin-left: -300px;
    margin-top: -275px;
    background-color: #fff1e8;
    border: solid 4px #83769c;
    box-shadow: 12px 12px;
}

#terminal_bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: #83769c;
}

#terminal_title {
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 20px;
}

#input_bracket {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 30px;
    font-size: 12px;
    text-align: center;
}

#player_input {
    position: absolute;
    left: 30px;
    top: 45px;
    width: 565px;
    height: 25px;
}

#game_output {
    position: absolute;
    left: 5px;
    top: 75px;
    width: 590px;
    height: 470px;
}

.window {
    width: 500px;
    font-family: 'Arial', sans-serif;
    background: #c0c0c0;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
}

.window_inner {
    border: 1px solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.window_heading {
    margin: 2px;
    padding: 2px 5px;
    color: #fff;
    background: linear-gradient(to right, #000080, #1084d0);
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.window_content {
    margin: 0 2px 2px 2px;
    border: 1px solid;
    border-top-color: #808080;
    border-left-color: #808080;
    border-bottom-color: #fff;
    border-right-color: #fff;
    font-size: 13px;
}

.window_content_inner {
    background: #fff;
    border: 1px solid;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #dfdfdf;
    border-right-color: #dfdfdf;
    padding: 10px;
}

p {
    margin: 0;
}
